*.o
hts++
src/programs.hh
src/git.hh
src/bison.report.txt
src/bison.xml
err
src/lex.selgt.c

src/SequenceOntology.cpp


*.tmp.xml
*.yy.cpp
*.lex.yy.hh
*.tab.cpp
*.tab.hpp

*~
	
autom4te.cache/
config.log
config.status
configure~

*.so
*.pico
